<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Slider</title>
        <link rel="stylesheet" href="./css/style.css" />
    </head>

    <body>

        <div id="app">

            <div class="container">
                <div class="slider-wrapper" tabindex="0">

                    <div class="item">

                        <img :src="slides[activeImage].image"
                            :alt="slides[activeImage].title" />

                        <div class="text">
                            <h3>{{slides[activeImage].title}}</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Et temporibus voluptatum
                                suscipit
                                tempore aliquid deleniti aut
                                veniam inventore eligendi ex ad ullam, cumque
                                provident totam omnis, magnam dolores dolorum
                                corporis.
                            </p>
                        </div>

                    </div>

                    <div class="thumbs">

                        <div class="prev" @click="prev()"></div>
                        <div class="next" @click="next()"></div>

                        <template v-for="(element, index) in slides"
                            :key="index" v-if="index = activeImage">
                            <span>INDEX: {{index}} - ACTIVEIMAGE:
                                {{activeImage}}</span>
                            <div class="thumb active">

                                <img :src="element.image" :alt="element.title" />

                            </div>

                        </template>

                        <template v-for="(element, index) in slides"
                            :key="index" v-else>
                            <span>INDEX: {{index}} - ACTIVEIMAGE:
                                {{activeImage}}</span>
                            <div class="thumb">

                                <img :src="element.image" :alt="element.title" />

                            </div>

                        </template>

                    </div>

                </div>
            </div>

        </div>

        <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
        <script src="./js/script.js"></script>
    </body>

</html>